/* background-image */

.bg-my-color{
  background-color: #072028;
}

/* Set the background color of the accordion button */
button.accordion-button {
  background-color: #1C2629;
}
/* Set the background color of the active accordion button */
button.accordion-button:not(.collapsed) {
  background-color: #525552;
}

.text-special-light{
  color: #c7c6c5;
}

.text-special-orange{
  color:  #ED702D;
}

.accordion-item {
  border: none;
}


/* Applications web view */

/* .accordion-content-bg-color{
  background-color: #282012;
} */

/* .accordion-content-text-color{
  color: #525552;
} */


/* Product img welcome.blade */
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  /* dev-creative-solutions font cover */
  
  /* parent bg */
  
  .cover-bg-gray-light{
    background-color: #f6f6f6;
  }
  
  .dev-creative-solutions-font{
    font-family: 'Comic Sans MS', cursive;
  }
  
  .cover-border-radius{
    /* border-radius: 15%; */
    border-radius: 15% 30%;
  }
/*  */